<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="author" content="Alaref-Siraj-Taha-Mohammed">
    <meta name="description" content="Class Project for Classes management system">
    <meta name="keywords" content="Management,classes">
    <link rel="icon" href="../assets/class.PNG">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="table.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Classes Management System</title>
    <script type="module" src='../backend/main.js'></script>

</head>

<body>

    <div class="container">
        <h3>
            <center>نظام إدارة القاعات</center>
        </h3>
        <a href="#"><img src="../assets/class.PNG" alt="The logo image of the website"></a>

        <ul>
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">حول</a></li>
            <li><a href="#">التواصل</a></li>
        </ul>

    </div>

    <div class="middle">
        موقع لتسهيل عمل مشرف القاعات من حيث حجز القاعات ومعرفة كل المعلومات المطلوبة حول كل قاعة.
    </div>

   
    <br /><br />
        <div class="contain">
           <div>
                <label for="code" class="add-buttens">رمز القاعة :</label>
                <input type="number" name="code" id="code" class="add-buttens" /><br /><br />
           </div>
           <div>
                <label for="code" class="add-buttens">عدد الطاولات : </label>
                <input type="number" name="desks" id="desks" class="add-buttens" /><br /><br />
            </div>
            <div>
                <label for="code" class="add-buttens">جهاز العرض المرئي : </label>
                <input type="text" name="projector" id="projector" class="add-buttens" /><br /><br />
            </div>
            <div>
                <label for="code" class="add-buttens">الأجهزة : </label>
                <input type="number" name="devices" id="devices" class="add-buttens" /><br /><br />
            </div>
            <div>
                <label for="code" class="add-buttens">الكراسي : </label>
                <input type="number" name="chairs" id="chairs" class="add-buttens" /><br /><br />
            </div>
            <div>
                <label for="code" class="add-buttens">الطابق : </label>
                <input id="floor" name="floor" class="add-buttens" />
            </div>
            <div>
                <button id="btn" >إضافة</button>
            </div>
        </div>
        <br/><br/>

    <h1>
        <center> جدول القاعات </center>
    </h1>

    <div class="boxContainer">
        <table class="elementsContainer">
            <tr>
                <td>
                    <input type="text" placeholder="بحث" class="search">
                </td>
                <td>
                    <a href="#"><span class="material-icons">search
                        </span></a>
                </td>
            </tr>
        </table>

    </div>


    <div style="overflow-x: auto;">
        <table class="content-table" id="table">
            <thead>
                <tr>
                    <th>الطابق</th>
                    <th>الكراسي</th>
                    <th>الأجهزة</th>
                    <th>جهاز العرض المرئي</th>
                    <th>عدد الطولات</th>
                    <th>رمز القاعة</th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>
    </div>

    <footer>
        <p>لمزيد من المعلومات قم بزيارتنا على : </p>

        <p>فيسبوك</p>

        <a href="https://www.facebook.com/%D8%A7%D8%AF%D8%A7%D8%B1%D8%A9-%D8%A7%D9%84%D9%82%D8%A7%D8%B9%D8%A7%D8%AA-103808915024834/"><img src="../assets/download%20(1).png" / height="50" width="50" alt="تويتر"></a>
        <p>تويتر</p>

        <a href="https://twitter.com/m5tyniYAIdty5zw"><img src="../assets/download.png" height="50" width="50" alt="فيسبوك"></a>
        <p>انستجرام</p>

        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Falgaat2021%3Figshid%3D1ia9ys4btcgx7%26fbclid%3DIwAR35PnsDPOoRt4Ca5koiWr4oxU0WBOe_-As8Rnawe4yWWm3vCwRLLH8rQY4&h=AT2-P9Vxt_4k1BvYjTSc0e7onBE9Y9TQKqn1LHiQIDRQPfjfMBYothHVgthhPKxEOLdXChHpF_AIhZsw8s4xU7ZAVPG2FO7k-HbPvXAneDGyQ6hKpUhrh9IojBKYB0JyELMj1Q"><img src="../assets/insta.jpg" / height="50" width="50" alt="انستا"></a>

    </footer>
</body>

</html>
