.content-table {
    border-collapse: collapse;
    margin: 25px auto 100px ;
    font-size: .6em;
    min-width: 200px;
    max-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.20);
    width: 80%;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: right;
    font-size: 1.2em
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1.4em;
    transition: all .2s ease-in-out
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr:hover {
  font-weight: bold;
  color: #009879;
}
